{
  "swagger": "2.0",
  "info": {
    "version": "v1.0.0",
    "title": "Middleware Mock API",
    "description": "This API provides an example Lifecycle Management Suite generic core middleware."
  },
  "host": "testservice.akcelerant.comhttps",
  "basePath": "//testservice.akcelerant.com/MockService/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v{version}/Core/CheckConnection": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Result.BaseResult"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/RetrieveTIN": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetTINRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetTINResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/RetrieveHostPersons": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetPersonsRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetPersonsResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/CreatePerson": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreatePersonRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreatePersonResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/DisbursementValidation": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.DisbursementValidationRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.DisbursementValidationResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/GenerateHostAccountNumber": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GenerateAccountNumberRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GenerateAccountNumberResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/CreateAccountProduct": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateAccountProductRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateAccountProductResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/ProcessInternalTransfers": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/ProcessACHTransfers": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/ProcessGLVouchers": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ProcessAccountProductFundingResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/HostLoanExists": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.LoanExistsRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Result.BaseResult"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/CreateHostAccount": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateAccountRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateAccountResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/RetrieveCoreCollateral": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicationRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicationResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/RetrieveHostApplicant": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicantRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicantResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/RetrieveHostApplicantVerification": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicantRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.GetApplicantResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/ExecuteHostMethod": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ExecuteMethodRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.ExecuteMethodResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/CreateCoreRecords": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateCoreRecordsRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CreateCoreRecordsResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/Core/CalculatePayoffFromCore": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "Core",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CalculatePayoffRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "The Client ID provided for API Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "header",
            "description": "The Client Secret for respective Client ID for API Authentication",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Service.Host.CalculatePayoffResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Akcelerant.Core.Data.DTO.Result.BaseResult": {
      "type": "object",
      "properties": {
        "ContinueActionAfterException": {
          "type": "boolean"
        },
        "Result": {
          "type": "boolean"
        },
        "Messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Result.Message"
          }
        },
        "ExceptionId": {
          "format": "int32",
          "type": "integer"
        },
        "RequiresOverride": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Core.Data.DTO.Result.Message": {
      "type": "object",
      "properties": {
        "Type": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "Text": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "IsUserFriendly": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Service.Host.GetTINRequest": {
      "type": "object",
      "properties": {
        "PersonNumber": {
          "type": "string"
        },
        "AccountNumber": {
          "type": "string"
        },
        "IsOrganization": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Service.Host.GetTINResponse": {
      "type": "object",
      "properties": {
        "TIN": {
          "type": "string"
        },
        "IsInvalidTIN": {
          "type": "boolean"
        },
        "ContinueActionAfterException": {
          "type": "boolean"
        },
        "Result": {
          "type": "boolean"
        },
        "Messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Result.Message"
          }
        },
        "ExceptionId": {
          "format": "int32",
          "type": "integer"
        },
        "RequiresOverride": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Service.Host.GetPersonsRequest": {
      "type": "object",
      "properties": {
        "TIN": {
          "type": "string"
        },
        "AccountNumber": {
          "type": "string"
        },
        "PersonNumber": {
          "type": "string"
        },
        "IsOrganization": {
          "type": "boolean"
        },
        "IncludeClosedAccounts": {
          "type": "boolean"
        },
        "BranchCode": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Service.Host.GetPersonsResponse": {
      "type": "object",
      "properties": {
        "Persons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Applicant"
          }
        },
        "BranchName": {
          "type": "string"
        },
        "BranchCode": {
          "type": "string"
        },
        "ContinueActionAfterException": {
          "type": "boolean"
        },
        "Result": {
          "type": "boolean"
        },
        "Messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Result.Message"
          }
        },
        "ExceptionId": {
          "format": "int32",
          "type": "integer"
        },
        "RequiresOverride": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Applicant": {
      "type": "object",
      "properties": {
        "AccountNumber": {
          "type": "string"
        },
        "AccountNumberRaw": {
          "type": "string"
        },
        "Age": {
          "format": "double",
          "type": "number"
        },
        "Alias": {
          "type": "string"
        },
        "AnnualSales": {
          "format": "double",
          "type": "number"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicationId": {
          "format": "int32",
          "type": "integer"
        },
        "AssociatedToId": {
          "format": "int32",
          "type": "integer"
        },
        "BankAccountBalance": {
          "format": "double",
          "type": "number"
        },
        "BankAccountNumber": {
          "type": "string"
        },
        "BankAccountTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "BankContact": {
          "type": "string"
        },
        "BankContactPhone": {
          "type": "string"
        },
        "BankName": {
          "type": "string"
        },
        "BirthDate": {
          "format": "date-time",
          "type": "string"
        },
        "BusinessRelationship": {
          "type": "string"
        },
        "BusinessTitle": {
          "type": "string"
        },
        "BypassAccountNumberGeneration": {
          "type": "boolean"
        },
        "BypassIDCheck": {
          "type": "boolean"
        },
        "BypassOFAC": {
          "type": "boolean"
        },
        "CardId": {
          "format": "int32",
          "type": "integer"
        },
        "CardNumber": {
          "type": "string"
        },
        "CitizenshipCountryId": {
          "format": "int32",
          "type": "integer"
        },
        "CoreIdentifier": {
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreateNewPerson": {
          "format": "int32",
          "type": "integer"
        },
        "CreditBureauReturnCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditCardDesignId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditCardName": {
          "type": "string"
        },
        "CreditReportId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportSubjectNumber": {
          "format": "int32",
          "type": "integer"
        },
        "DateBusinessEstablished": {
          "format": "date-time",
          "type": "string"
        },
        "DBAName": {
          "type": "string"
        },
        "DefaultCurrency": {
          "type": "string"
        },
        "DependentCount": {
          "format": "int32",
          "type": "integer"
        },
        "DependentInfo": {
          "type": "string"
        },
        "DoNotPullCredit": {
          "type": "boolean"
        },
        "DUNSNumber": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "ExcludeFromOFAC": {
          "type": "boolean"
        },
        "ExcludeIDCheck": {
          "type": "boolean"
        },
        "FirstName": {
          "type": "string"
        },
        "FullName": {
          "type": "string"
        },
        "HasDirectDeposit": {
          "type": "boolean"
        },
        "IdCountryId": {
          "format": "int32",
          "type": "integer"
        },
        "IdExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IdIssueDate": {
          "format": "date-time",
          "type": "string"
        },
        "IdNumber": {
          "type": "string"
        },
        "IdStateId": {
          "format": "int32",
          "type": "integer"
        },
        "IdType": {
          "format": "int32",
          "type": "integer"
        },
        "IdVISAExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IdVISAType": {
          "type": "string"
        },
        "IndustryType": {
          "type": "string"
        },
        "IsAccountNumberManual": {
          "type": "boolean"
        },
        "IsAmendableTrust": {
          "type": "boolean"
        },
        "IsCustomer": {
          "type": "boolean"
        },
        "IsEligible": {
          "type": "boolean"
        },
        "IsEmployee": {
          "type": "boolean"
        },
        "IsInsured": {
          "type": "boolean"
        },
        "IsInvalidTIN": {
          "type": "boolean"
        },
        "IsOrganization": {
          "type": "boolean"
        },
        "IsOverrideMLAStatus": {
          "type": "boolean"
        },
        "IsRevocableTrust": {
          "type": "boolean"
        },
        "IsW8": {
          "type": "boolean"
        },
        "LastName": {
          "type": "string"
        },
        "LengthOfMembership": {
          "format": "double",
          "type": "number"
        },
        "ManageCreatePersonId": {
          "format": "int32",
          "type": "integer"
        },
        "MaritalStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "MasterPersonNumber": {
          "type": "string"
        },
        "MemberCode": {
          "type": "string"
        },
        "MembershipStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "MiddleName": {
          "type": "string"
        },
        "MilitaryBorrowerStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "MilitaryCoveredBorrower": {
          "type": "boolean"
        },
        "MilitaryStatusCheckDate": {
          "format": "date-time",
          "type": "string"
        },
        "MinimumRequiredSigners": {
          "format": "int32",
          "type": "integer"
        },
        "MLACreditReportHistoryId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "MothersMaidenName": {
          "type": "string"
        },
        "NumberofEmployees": {
          "format": "int32",
          "type": "integer"
        },
        "OFACFormattedResponse": {
          "type": "string"
        },
        "OFACPassed": {
          "type": "boolean"
        },
        "OFACRawResponse": {
          "type": "string"
        },
        "OFACResult": {
          "type": "string"
        },
        "OnlineBankingId": {
          "type": "string"
        },
        "OnlineBankingPin": {
          "type": "string"
        },
        "OnlineProfileId": {
          "format": "int32",
          "type": "integer"
        },
        "OrganizationName": {
          "type": "string"
        },
        "OrganizationTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "PercentofOwnership": {
          "format": "int32",
          "type": "integer"
        },
        "PersonNumber": {
          "type": "string"
        },
        "PreferredContactMethodId": {
          "format": "int32",
          "type": "integer"
        },
        "PrimaryRelationshipId": {
          "format": "int32",
          "type": "integer"
        },
        "PrivacyIndicator": {
          "type": "boolean"
        },
        "PrivacyType": {
          "type": "string"
        },
        "ReceivesAdverseAction": {
          "type": "boolean"
        },
        "RecentFinancialStatementId": {
          "format": "int32",
          "type": "integer"
        },
        "ResidencyStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "RestrictionCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "RiskTierId": {
          "format": "int32",
          "type": "integer"
        },
        "SegmentationId": {
          "format": "int32",
          "type": "integer"
        },
        "SourceAccountNumber": {
          "type": "string"
        },
        "SpouseId": {
          "format": "int32",
          "type": "integer"
        },
        "StateofIncorporationId": {
          "format": "int32",
          "type": "integer"
        },
        "Suffix": {
          "type": "string"
        },
        "TIN": {
          "type": "string"
        },
        "TINTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "TrustNumber": {
          "type": "string"
        },
        "W9OptionsId": {
          "format": "int32",
          "type": "integer"
        },
        "YearsInBusiness": {
          "format": "int32",
          "type": "integer"
        },
        "IsAccountOpen": {
          "type": "boolean"
        },
        "CreditReportPIN": {
          "type": "string"
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Address"
          }
        },
        "Phones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Phone"
          }
        },
        "Incomes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Income"
          }
        },
        "Assets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Asset"
          }
        },
        "Liabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Liability"
          }
        },
        "References": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Reference"
          }
        },
        "Ratios": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Ratio"
          }
        },
        "Aggregates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Aggregate"
          }
        },
        "Scores": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Score"
          }
        },
        "CoreMessages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CoreMessage"
          }
        },
        "CreditReport": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportInfo"
        },
        "CreditReports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantCreditReport"
          }
        },
        "CustomFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.CustomField"
          }
        },
        "Declarations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Declaration"
          }
        },
        "DisbursementValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.DisbursementValue"
          }
        },
        "AssociatedApplications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.AssociatedApplication"
          }
        },
        "PreciseId": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.PreciseId"
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "ApplicantAccountNumbers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantAccountNumber"
          }
        },
        "AtTimeOfDecision": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantAtTimeOfDecision"
        },
        "Connector": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.ApplicantConnector"
        },
        "AccountProductMappings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicationAccountProductApplicant"
          }
        },
        "CreditReportPremierAttributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportPremierAttribute"
          }
        },
        "LoanCovenants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantLoanCovenant"
          }
        },
        "Cards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Cards"
          }
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Address": {
      "type": "object",
      "properties": {
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "UpdateLiability": {
          "type": "boolean"
        },
        "StateCode": {
          "type": "string"
        },
        "AddressSerial": {
          "type": "string"
        },
        "Address1": {
          "type": "string"
        },
        "Address2": {
          "type": "string"
        },
        "Address3": {
          "type": "string"
        },
        "AddressCategoryId": {
          "format": "int32",
          "type": "integer"
        },
        "AddressId": {
          "format": "int32",
          "type": "integer"
        },
        "AddressStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "AddressTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "City": {
          "type": "string"
        },
        "ClassificationId": {
          "format": "int32",
          "type": "integer"
        },
        "CountryId": {
          "format": "int32",
          "type": "integer"
        },
        "County": {
          "type": "string"
        },
        "CountyId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "EndDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExternalAddressId": {
          "type": "string"
        },
        "HousingLoanBalanceAmount": {
          "format": "double",
          "type": "number"
        },
        "IsTotalMonthlyExpense": {
          "type": "boolean"
        },
        "LengthAtAddress": {
          "format": "double",
          "type": "number"
        },
        "LiabilityId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "MonthlyExpenseAmount": {
          "format": "double",
          "type": "number"
        },
        "ObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectType": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "StartDate": {
          "format": "date-time",
          "type": "string"
        },
        "StateId": {
          "format": "int32",
          "type": "integer"
        },
        "Township": {
          "type": "string"
        },
        "TownshipId": {
          "format": "int32",
          "type": "integer"
        },
        "USPSValidationId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Phone": {
      "type": "object",
      "properties": {
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Extension": {
          "type": "string"
        },
        "ExternalPhoneId": {
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectType": {
          "type": "string"
        },
        "PhoneId": {
          "format": "int32",
          "type": "integer"
        },
        "PhoneNumber": {
          "type": "string"
        },
        "PhoneNumberRaw": {
          "type": "string"
        },
        "PhoneTypeId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Income": {
      "type": "object",
      "properties": {
        "Address": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Address"
        },
        "Phone": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Phone"
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "AdjustedMonthlyIncome": {
          "format": "double",
          "type": "number"
        },
        "AdjustmentPercentage": {
          "format": "double",
          "type": "number"
        },
        "Amount": {
          "format": "double",
          "type": "number"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "BusinessType": {
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "EndDate": {
          "format": "date-time",
          "type": "string"
        },
        "FrequencyId": {
          "format": "int32",
          "type": "integer"
        },
        "HoursPerWeek": {
          "format": "int32",
          "type": "integer"
        },
        "IncludeInApplicationAggregates": {
          "type": "boolean"
        },
        "IncomeId": {
          "format": "int32",
          "type": "integer"
        },
        "IncomeTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "IsPartTime": {
          "type": "boolean"
        },
        "IsSelfEmployed": {
          "type": "boolean"
        },
        "LengthOfEmployment": {
          "format": "double",
          "type": "number"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ReasonForLeaving": {
          "type": "string"
        },
        "Source": {
          "type": "string"
        },
        "StartDate": {
          "format": "date-time",
          "type": "string"
        },
        "SupervisorName": {
          "type": "string"
        },
        "Title": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Asset": {
      "type": "object",
      "properties": {
        "ApplicantAssetMappings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantAsset"
          }
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "ECOACodeId": {
          "format": "int32",
          "type": "integer"
        },
        "AccountNumber": {
          "type": "string"
        },
        "AdjustedAvailableBalance": {
          "format": "double",
          "type": "number"
        },
        "AdjustedBalance": {
          "format": "double",
          "type": "number"
        },
        "AdjustedMarketValue": {
          "format": "double",
          "type": "number"
        },
        "AdjustmentPercentage": {
          "format": "double",
          "type": "number"
        },
        "ApplicationId": {
          "format": "int32",
          "type": "integer"
        },
        "AssetClass": {
          "type": "string"
        },
        "AssetId": {
          "format": "int32",
          "type": "integer"
        },
        "AssetOwnershipTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "AssetTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "Association": {
          "type": "string"
        },
        "AvailableBalance": {
          "format": "double",
          "type": "number"
        },
        "Balance": {
          "format": "double",
          "type": "number"
        },
        "Branch": {
          "type": "string"
        },
        "CensusTract": {
          "type": "string"
        },
        "CollateralCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "CollateralNumber": {
          "type": "string"
        },
        "CoreIdentifier": {
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "DividendRate": {
          "format": "double",
          "type": "number"
        },
        "EngineNumber": {
          "type": "string"
        },
        "HoldAmount": {
          "format": "double",
          "type": "number"
        },
        "IncludeInApplicationAggregates": {
          "type": "boolean"
        },
        "InstitutionName": {
          "type": "string"
        },
        "InsuranceCoverage": {
          "type": "string"
        },
        "InsuranceExpriationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsAutoRenew": {
          "type": "boolean"
        },
        "IsFromHost": {
          "type": "boolean"
        },
        "LicenseNumber": {
          "type": "string"
        },
        "LocationInfo": {
          "type": "string"
        },
        "MarketValue": {
          "format": "double",
          "type": "number"
        },
        "MaturityDate": {
          "format": "date-time",
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "MSANumber": {
          "type": "string"
        },
        "OriginalValue": {
          "format": "double",
          "type": "number"
        },
        "OwnerOccupiedId": {
          "format": "int32",
          "type": "integer"
        },
        "PersonNumber": {
          "type": "string"
        },
        "Rate": {
          "format": "double",
          "type": "number"
        },
        "RegistrationNumber": {
          "type": "string"
        },
        "StateId": {
          "format": "int32",
          "type": "integer"
        },
        "VehicleMake": {
          "type": "string"
        },
        "VehicleModel": {
          "type": "string"
        },
        "VehicleYear": {
          "format": "int32",
          "type": "integer"
        },
        "VIN": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Liability": {
      "type": "object",
      "properties": {
        "ApplicantLiabilityMappings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantLiability"
          }
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "RemarkCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.RemarkCode"
          }
        },
        "IsCrossSellLiability": {
          "type": "boolean"
        },
        "PercentageResponsible": {
          "format": "double",
          "type": "number"
        },
        "AccountNumber": {
          "type": "string"
        },
        "AccountTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "AdjustedBalance": {
          "format": "double",
          "type": "number"
        },
        "AdjustedBalloonAmount": {
          "format": "double",
          "type": "number"
        },
        "AdjustedLimit": {
          "format": "double",
          "type": "number"
        },
        "AdjustedMonthlyPayment": {
          "format": "double",
          "type": "number"
        },
        "AdjustmentPercentage": {
          "format": "double",
          "type": "number"
        },
        "ApplicationId": {
          "format": "int32",
          "type": "integer"
        },
        "Association": {
          "type": "string"
        },
        "AssumedBalance": {
          "format": "double",
          "type": "number"
        },
        "AssumedCollateralValue": {
          "format": "double",
          "type": "number"
        },
        "AssumedInterestRate": {
          "format": "double",
          "type": "number"
        },
        "AssumedMonthlyPayment": {
          "format": "double",
          "type": "number"
        },
        "AssumedRemainingTerm": {
          "format": "int32",
          "type": "integer"
        },
        "Balance": {
          "format": "double",
          "type": "number"
        },
        "BalloonAmount": {
          "format": "double",
          "type": "number"
        },
        "BalloonDueDate": {
          "format": "date-time",
          "type": "string"
        },
        "Branch": {
          "type": "string"
        },
        "CalculateAssumedRemainingTerm": {
          "type": "boolean"
        },
        "CategoryId": {
          "format": "int32",
          "type": "integer"
        },
        "ChargeOffAmount": {
          "format": "double",
          "type": "number"
        },
        "CloseDate": {
          "format": "date-time",
          "type": "string"
        },
        "ClosedTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "CollateralDescription": {
          "type": "string"
        },
        "ConditionId": {
          "format": "int32",
          "type": "integer"
        },
        "ConversionDate": {
          "format": "date-time",
          "type": "string"
        },
        "ConversionRate": {
          "format": "double",
          "type": "number"
        },
        "CreateConsolidatedOffer": {
          "type": "boolean"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditBureauId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditorName": {
          "type": "string"
        },
        "CreditReportAccountNumber": {
          "type": "string"
        },
        "DerrogatoryIndicatorId": {
          "format": "int32",
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "ECOACodeId": {
          "format": "int32",
          "type": "integer"
        },
        "ExclusionReason": {
          "type": "string"
        },
        "HighCreditAmount": {
          "format": "double",
          "type": "number"
        },
        "HighCreditDate": {
          "format": "date-time",
          "type": "string"
        },
        "IncludeInApplicationAggregates": {
          "type": "boolean"
        },
        "IndustryCode": {
          "format": "int32",
          "type": "integer"
        },
        "InterestRate": {
          "format": "double",
          "type": "number"
        },
        "InterestType": {
          "type": "string"
        },
        "IsConcurrentApplication": {
          "type": "boolean"
        },
        "IsDisplayed": {
          "type": "boolean"
        },
        "IsEdited": {
          "type": "boolean"
        },
        "IsExpense": {
          "type": "boolean"
        },
        "IsFromHost": {
          "type": "boolean"
        },
        "IsOpenTradeline": {
          "type": "boolean"
        },
        "IsProcessedForCrossSell": {
          "type": "boolean"
        },
        "IsRefinanceAddon": {
          "type": "boolean"
        },
        "IsReplacementCandidate": {
          "type": "boolean"
        },
        "IsSecured": {
          "type": "boolean"
        },
        "IsTradeline": {
          "type": "boolean"
        },
        "LastDelinquencyDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastPaymentDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastReportedDate": {
          "format": "date-time",
          "type": "string"
        },
        "LateCharges": {
          "format": "double",
          "type": "number"
        },
        "LiabilityId": {
          "format": "int32",
          "type": "integer"
        },
        "Limit": {
          "format": "double",
          "type": "number"
        },
        "MaturityDate": {
          "format": "date-time",
          "type": "string"
        },
        "MaxDelinquencyAmount": {
          "format": "double",
          "type": "number"
        },
        "MaxDelinquencyStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "MonthsReportedOpen": {
          "format": "int32",
          "type": "integer"
        },
        "MonthsSinceLastReported": {
          "format": "int32",
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "Number120DQ": {
          "format": "int32",
          "type": "integer"
        },
        "Number150DQ": {
          "format": "int32",
          "type": "integer"
        },
        "Number180DQ": {
          "format": "int32",
          "type": "integer"
        },
        "Number30DQ": {
          "format": "int32",
          "type": "integer"
        },
        "Number60DQ": {
          "format": "int32",
          "type": "integer"
        },
        "Number90DQ": {
          "format": "int32",
          "type": "integer"
        },
        "NumberPaymentsPastDue": {
          "format": "int32",
          "type": "integer"
        },
        "OpenDate": {
          "format": "date-time",
          "type": "string"
        },
        "OriginalCurrencyId": {
          "format": "int32",
          "type": "integer"
        },
        "OriginalLimit": {
          "format": "double",
          "type": "number"
        },
        "OriginalLoanAmount": {
          "format": "double",
          "type": "number"
        },
        "PastDueAmount": {
          "format": "double",
          "type": "number"
        },
        "Pattern": {
          "type": "string"
        },
        "PaymentAmount": {
          "format": "double",
          "type": "number"
        },
        "PaymentFrequencyId": {
          "format": "int32",
          "type": "integer"
        },
        "PayoffAmount": {
          "format": "double",
          "type": "number"
        },
        "PayoffEffectiveDate": {
          "format": "date-time",
          "type": "string"
        },
        "PayoffExpirationDays": {
          "format": "int32",
          "type": "integer"
        },
        "PayoffRequestIdentifier": {
          "type": "string"
        },
        "PerDiem": {
          "format": "double",
          "type": "number"
        },
        "PrimaryCrossSellSubProductId": {
          "format": "int32",
          "type": "integer"
        },
        "ProductCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "Promo1AdvanceCutoffAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo1BalanceAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo1EffectiveDate": {
          "format": "date-time",
          "type": "string"
        },
        "Promo1ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "Promo1Rate": {
          "format": "double",
          "type": "number"
        },
        "Promo1RateMin": {
          "format": "double",
          "type": "number"
        },
        "Promo1RateOffset": {
          "format": "double",
          "type": "number"
        },
        "Promo1RateType": {
          "type": "string"
        },
        "Promo1TotalAdvancesAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo1Type": {
          "type": "string"
        },
        "Promo2AdvanceCutoffAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo2BalanceAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo2EffectiveDate": {
          "format": "date-time",
          "type": "string"
        },
        "Promo2ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "Promo2Rate": {
          "format": "double",
          "type": "number"
        },
        "Promo2RateMin": {
          "format": "double",
          "type": "number"
        },
        "Promo2RateOffset": {
          "format": "double",
          "type": "number"
        },
        "Promo2RateType": {
          "type": "string"
        },
        "Promo2TotalAdvancesAmount": {
          "format": "double",
          "type": "number"
        },
        "Promo2Type": {
          "type": "string"
        },
        "Reference": {
          "type": "string"
        },
        "SecondaryCrossSellSubProductId": {
          "format": "int32",
          "type": "integer"
        },
        "StatementGroup": {
          "type": "string"
        },
        "StatementMailCode": {
          "type": "string"
        },
        "StatusId": {
          "format": "int32",
          "type": "integer"
        },
        "SubscriberCode": {
          "type": "string"
        },
        "TargetCurrencyId": {
          "format": "int32",
          "type": "integer"
        },
        "Term": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Reference": {
      "type": "object",
      "properties": {
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Address"
          }
        },
        "Phones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Phone"
          }
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "FullName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "MiddleName": {
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ReferenceId": {
          "format": "int32",
          "type": "integer"
        },
        "ReferenceTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "RelationshipDescription": {
          "type": "string"
        },
        "RelationshipToApplicantTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "Suffix": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Ratio": {
      "type": "object",
      "properties": {
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectType": {
          "type": "string"
        },
        "RatioId": {
          "format": "int32",
          "type": "integer"
        },
        "RatioTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "Recommendation": {
          "format": "int32",
          "type": "integer"
        },
        "Value": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Aggregate": {
      "type": "object",
      "properties": {
        "AggregateId": {
          "format": "int32",
          "type": "integer"
        },
        "AggregateTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectType": {
          "type": "string"
        },
        "Recommendation": {
          "format": "int32",
          "type": "integer"
        },
        "Value": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Score": {
      "type": "object",
      "properties": {
        "ScoreFactors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ScoreFactor"
          }
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "AddressAlert": {
          "type": "string"
        },
        "Average": {
          "format": "int32",
          "type": "integer"
        },
        "AveragePercentile": {
          "format": "double",
          "type": "number"
        },
        "AverageRecommendation": {
          "format": "int32",
          "type": "integer"
        },
        "ConsumerStatement": {
          "type": "string"
        },
        "CreditBureauId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportAttributeId": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorCode": {
          "type": "string"
        },
        "ErrorText": {
          "type": "string"
        },
        "High": {
          "format": "int32",
          "type": "integer"
        },
        "HighPercentile": {
          "format": "double",
          "type": "number"
        },
        "HighRecommendation": {
          "format": "int32",
          "type": "integer"
        },
        "Low": {
          "format": "int32",
          "type": "integer"
        },
        "LowPercentile": {
          "format": "double",
          "type": "number"
        },
        "LowRecommendation": {
          "format": "int32",
          "type": "integer"
        },
        "MaximumValue": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumValue": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectId": {
          "format": "int32",
          "type": "integer"
        },
        "ObjectType": {
          "type": "string"
        },
        "Percentile": {
          "format": "double",
          "type": "number"
        },
        "Recommendation": {
          "format": "int32",
          "type": "integer"
        },
        "ScoreId": {
          "format": "int32",
          "type": "integer"
        },
        "Value": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CoreMessage": {
      "type": "object",
      "properties": {
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "AccountNumber": {
          "type": "string"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Message": {
          "type": "string"
        },
        "MessageCode": {
          "type": "string"
        },
        "MessageId": {
          "format": "int32",
          "type": "integer"
        },
        "MessageTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "PersonNumber": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportInfo": {
      "type": "object",
      "properties": {
        "ConsumerStatements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportConsumerStatement"
          }
        },
        "Employment": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportEmployment"
          }
        },
        "Inquiries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportInquiry"
          }
        },
        "MiscellaneousInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportMiscInfo"
          }
        },
        "PublicRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportPublicRecord"
          }
        },
        "FraudInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.CreditReportFraudInfo"
          }
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Address"
          }
        },
        "AddressVarianceId": {
          "format": "int32",
          "type": "integer"
        },
        "Age": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "BirthDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditBureauId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditBureauProductId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditReportInfoId": {
          "format": "int32",
          "type": "integer"
        },
        "DriversLicenseNumber": {
          "type": "string"
        },
        "FraudNoticeId": {
          "format": "int32",
          "type": "integer"
        },
        "IsBlankCreditReport": {
          "type": "boolean"
        },
        "IsDeceased": {
          "type": "boolean"
        },
        "MilitaryBorrowerStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "OFACSearchId": {
          "format": "int32",
          "type": "integer"
        },
        "OnFileSinceDate": {
          "format": "date-time",
          "type": "string"
        },
        "SSNVarianceId": {
          "format": "int32",
          "type": "integer"
        },
        "TIN": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantCreditReport": {
      "type": "object",
      "properties": {
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "ApplicantCreditMappingId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportHistoryId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Core.Data.DTO.CustomField": {
      "type": "object",
      "properties": {
        "_Name": {
          "type": "string"
        },
        "_Value": {
          "type": "string"
        },
        "_MetaDataID": {
          "format": "int32",
          "type": "integer"
        },
        "_Label": {
          "type": "string"
        },
        "_DataType": {
          "type": "string"
        },
        "_IsEncrypted": {
          "type": "boolean"
        },
        "_IsPinPassword": {
          "type": "boolean"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Declaration": {
      "type": "object",
      "properties": {
        "DeclarationCode": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "IMMCode": {
          "type": "string"
        },
        "AnswerCode": {
          "type": "string"
        },
        "AnswerExplanation": {
          "type": "string"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "DeclarationId": {
          "format": "int32",
          "type": "integer"
        },
        "DeclarationTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.DisbursementValue": {
      "type": "object",
      "properties": {
        "_FieldName": {
          "type": "string"
        },
        "_FieldValue1": {
          "type": "string"
        },
        "_FieldValue2": {
          "type": "string"
        },
        "_FieldValue3": {
          "type": "string"
        },
        "_FieldValue4": {
          "type": "string"
        },
        "_FieldValue5": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.AssociatedApplication": {
      "type": "object",
      "properties": {
        "ApplicationId": {
          "format": "int32",
          "type": "integer"
        },
        "StatusId": {
          "format": "int32",
          "type": "integer"
        },
        "SourceId": {
          "format": "int32",
          "type": "integer"
        },
        "ChannelId": {
          "format": "int32",
          "type": "integer"
        },
        "SubProductId": {
          "format": "int32",
          "type": "integer"
        },
        "RequestedAmount": {
          "format": "double",
          "type": "number"
        },
        "PaymentAmount": {
          "format": "double",
          "type": "number"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "DecisionId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "DecisionDate": {
          "format": "date-time",
          "type": "string"
        },
        "RiskTierHighId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.PreciseId": {
      "type": "object",
      "properties": {
        "Questions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.PreciseIdQuestion"
          }
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "FinalDecisionCode": {
          "type": "string"
        },
        "InitialDecisionCode": {
          "type": "string"
        },
        "KIQFormula": {
          "type": "string"
        },
        "KIQScore": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "MostLikelyFraudTypeCode": {
          "type": "string"
        },
        "PreciseId": {
          "format": "int32",
          "type": "integer"
        },
        "PreciseIdScore": {
          "format": "int32",
          "type": "integer"
        },
        "SessionGuid": {
          "type": "string"
        },
        "VerificationCompleteFlag": {
          "type": "boolean"
        },
        "VerifiedFlag": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Core.Data.DTO.Host.HostValue": {
      "type": "object",
      "properties": {
        "_Field1": {
          "type": "string"
        },
        "_Field2": {
          "type": "string"
        },
        "_Field3": {
          "type": "string"
        },
        "_Field4": {
          "type": "string"
        },
        "_Field5": {
          "type": "string"
        },
        "_Value": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantAccountNumber": {
      "type": "object",
      "properties": {
        "AccountNumber": {
          "type": "string"
        },
        "ApplicantAccountNumberId": {
          "format": "int32",
          "type": "integer"
        },
        "TIN": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantAtTimeOfDecision": {
      "type": "object",
      "properties": {
        "ApplicantAtTimeOfDecisionId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicationId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "RiskTierId": {
          "format": "int32",
          "type": "integer"
        },
        "Aggregates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Aggregate"
          }
        },
        "Ratios": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Ratio"
          }
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Connectors.ApplicantConnector": {
      "type": "object",
      "properties": {
        "FISApplicant": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.FIS.FISApplicant"
        },
        "FICOApplicant": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.FICOApplicant.FICOApplicant"
        },
        "HYLSApplicant": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.HYLS.HYLSApplicant"
        },
        "IDologyApplicant": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.Idology.IDologyApplicant"
        },
        "IDologyApplicantQualifier": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.Idology.IDologyApplicantQualifier"
        },
        "TruValidate": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.TruValidate.TruValidate"
        },
        "NovaCredit": {
          "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.Connectors.NovaConnect.NovaCredit"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicationAccountProductApplicant": {
      "type": "object",
      "properties": {
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "AccountProductId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicationAccountProductApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicationAccountProductId": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportPremierAttribute": {
      "type": "object",
      "properties": {
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "AttributeTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "AttributeValue": {
          "type": "string"
        },
        "CreditReportPremierAttributeId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantLoanCovenant": {
      "type": "object",
      "properties": {
        "AddedBy": {
          "type": "string"
        },
        "WaivedBy": {
          "type": "string"
        },
        "DurationLookupDesc": {
          "type": "string"
        },
        "ValidationFreqLookupDesc": {
          "type": "string"
        },
        "HostValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Core.Data.DTO.Host.HostValue"
          }
        },
        "PlaceHolders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Akcelerant.Lending.Data.DTO.Applications.ApplicantLoanCovenantPlaceHolder"
          }
        },
        "ApplicantLoanCovenantId": {
          "format": "int32",
          "type": "integer"
        },
        "AppliesToId": {
          "format": "int32",
          "type": "integer"
        },
        "Comments": {
          "type": "string"
        },
        "CoreValue": {
          "type": "string"
        },
        "CovenantFullText": {
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "DateWaived": {
          "format": "date-time",
          "type": "string"
        },
        "DurationId": {
          "format": "int32",
          "type": "integer"
        },
        "IsManual": {
          "type": "boolean"
        },
        "IsWaived": {
          "type": "boolean"
        },
        "LoanCovenantId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "NextDueDate": {
          "format": "date-time",
          "type": "string"
        },
        "ValidationFrequencyId": {
          "format": "int32",
          "type": "integer"
        },
        "WaivedById": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.Cards": {
      "type": "object",
      "properties": {
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "CardId": {
          "format": "int32",
          "type": "integer"
        },
        "CardNumber": {
          "format": "int64",
          "type": "integer"
        },
        "CardTypeId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantAsset": {
      "type": "object",
      "properties": {
        "ApplicantAssetId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "AssetId": {
          "format": "int32",
          "type": "integer"
        },
        "ECOACodeId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ApplicantLiability": {
      "type": "object",
      "properties": {
        "ApplicantId": {
          "format": "int32",
          "type": "integer"
        },
        "ApplicantLiabilityId": {
          "format": "int32",
          "type": "integer"
        },
        "ECOACodeId": {
          "format": "int32",
          "type": "integer"
        },
        "IsExpense": {
          "type": "boolean"
        },
        "LiabilityId": {
          "format": "int32",
          "type": "integer"
        },
        "PercentageResponsible": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.RemarkCode": {
      "type": "object",
      "properties": {
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "LiabilityId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "RemarkCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "RemarkCodeTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "Text": {
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.ScoreFactor": {
      "type": "object",
      "properties": {
        "Code": {
          "type": "string"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ScoreFactorId": {
          "format": "int32",
          "type": "integer"
        },
        "ScoreId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportConsumerStatement": {
      "type": "object",
      "properties": {
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditReportConsumerStatementId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportInfoId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Text": {
          "type": "string"
        },
        "TypeId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportEmployment": {
      "type": "object",
      "properties": {
        "ConversionDate": {
          "format": "date-time",
          "type": "string"
        },
        "ConversionRate": {
          "format": "double",
          "type": "number"
        },
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditReportEmploymentId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportInfoId": {
          "format": "int32",
          "type": "integer"
        },
        "DateReported": {
          "format": "date-time",
          "type": "string"
        },
        "EmployerName": {
          "type": "string"
        },
        "Income": {
          "type": "string"
        },
        "IncomeFrequencyId": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "OriginalCurrencyId": {
          "format": "int32",
          "type": "integer"
        },
        "TargetCurrencyId": {
          "format": "int32",
          "type": "integer"
        },
        "TerminationDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportInquiry": {
      "type": "object",
      "properties": {
        "CreatedById": {
          "format": "int32",
          "type": "integer"
        },
        "CreatedDate": {
          "format": "date-time",
          "type": "string"
        },
        "CreditorAbbreviatedName": {
          "type": "string"
        },
        "CreditorFullName": {
          "type": "string"
        },
        "CreditorNumber": {
          "type": "string"
        },
        "CreditReportInfoId": {
          "format": "int32",
          "type": "integer"
        },
        "CreditReportInquiryId": {
          "format": "int32",
          "type": "integer"
        },
        "IndustryCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "InquiryDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsCollateralized": {
          "type": "boolean"
        },
        "IsCreditSeeking": {
          "type": "boolean"
        },
        "ModifiedById": {
          "format": "int32",
          "type": "integer"
        },
        "ModifiedDate": {
          "format": "date-time",
          "type": "string"
        },
        "ProductCodeId": {
          "format": "int32",
          "type": "integer"
        },
        "Source": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Akcelerant.Lending.Data.DTO.Applications.CreditReportMiscInfo": {
      "type": "object",
      "properties": {
        "CreatedById": {
          "format": "int32",
[...]
